* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.container {
  /* border: 1px solid #898989dd; */
  width: 80%;
  min-height: auto;
  margin: 15px auto;
  padding: 15px 35px;
  text-align: center;
}
.container nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: left;
  padding: 0 15px;
}
.container nav a {
  text-decoration: none;
  color: #000;
  font-size: 21px;
  border: 1px solid #000;
  width: max-content;
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 2px 3px 10px 2px #d0d0d0, 2px 3px 10px 2px #fff inset;
  transition: ease-in 0.25s;
}
.container nav a:hover {
  transform: translateY(-4px);
  transition: ease-in 0.5s;
}
.container h1 {
  margin: 25px 0;
}
.container details {
  position: relative;
}
.container details .subject-cards {
  position: absolute;
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  top: 150%;
  left: -10%;
  gap: 9px;
  height: max-content;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 12px 10px;
  border-radius: 4px;
}
.container details summary {
  list-style: none;
  cursor: pointer;
}
.cards {
  border: 1px solid #898989;
  width: 160px;
  height: 35px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 5px 0;
  font-size: 17px;
  box-shadow: 2px 2px 15px 1px #c7d3d8;
  transition: 0.25s;
}
.cards:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.card {
  border: 1px solid #898989;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px 1px #c7d3d8;
  display: flex;
  align-items: center;
  /* justify-content: center;  */
  font-size: 16px;
  transition: 1s;
  /* cursor: pointer; */
  text-decoration: none;
  color: #000;
  position: relative;
  /* margin: 12px 0; */
}
.card:hover {
  transition: ease-in 0.5s;
  transform: scale(1.01);
}
.card h4 {
  position: absolute;
  left: 10%;
  font-weight: 500;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: rgba(255, 255, 0, 0.304);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card h3 {
  position: relative;
  left: 20%;
  font-weight: 500;
}

.depart {
  /* border: 1px solid #8989; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 60px;
  align-items: center;
  gap: 25px;
  text-transform: uppercase;
  font-size: 14px;
}
.subject-cards {
  gap: 9px;
  display: grid;
}
.card a {
  padding: 7px 12px;
  border-radius: 7px;
  border: 1px solid rgb(47, 47, 47);
  text-decoration: none;
  color: #000;
}
.card .prev {
  position: absolute;
  right: 20%;
  margin: 0 15px;
}
.card .down {
  background-color: rgb(254, 220, 226);
  position: absolute;
  right: 5%;
}
@media (max-width: 1001px) {
  .container {
    /* width: max-content; */
    height: 100vh;
  }
  .depart {
    width: 90%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container details {
    position: relative;
  }
  .container details .subject-cards {
    z-index: 5;
    position: absolute;
    height: max-content;
    top: 100%;
    left: 40%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 12px 10px;
    border-radius: 4px;
  }
}
@media (max-width: 810px) {
  .container {
    /* width: max-content; */
    height: 100vh;
  }
  .depart {
    width: 90%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container details {
    position: relative;
  }
  .container details .subject-cards {
    z-index: 5;
    position: absolute;
    height: max-content;
    top: 100%;
    left: 40%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 12px 10px;
    border-radius: 4px;
  }
}

@media (max-width: 785px) {
  .container {
    /* width: 500px;  */
    height: 100vh;
  }
  .depart {
    width: 90%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container details {
    position: relative;
  }
  .container details .subject-cards {
    z-index: 5;
    position: absolute;
    height: max-content;
    top: 100%;
    left: 40%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 12px 10px;
    border-radius: 4px;
  }
  .card .prev {
    position: absolute;
    right: 20%;
    margin: 0 35px;
  }
}
@media (max-width: 650px) {
    .card {
        padding: 10px;
        font-size: 14px;
      }
    
      .subject-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    
      .subject-cards .card:nth-child(1n) {
        grid-column: span 2;
      }
      .card .prev {
        position: absolute;
        /* right: 20%; */
        right: 20%;
        margin: 0 30px;
      }
      .card .down {
        position: absolute;
        right: 2%;
        margin: 0  1px 0 0;
      }
}
 @media (max-width: 485px) {
  .container {
    width: 470px;
    height: 100vh;
  }
  .depart {
    width: 90%;
    height: max-content;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container details {
    position: relative;
  }
  .container details .subject-cards {
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
  }
  .card a{
    margin: 0 15px;
  }
  .card {
    padding: 10px;
    font-size: 14px;
  }

  .subject-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .subject-cards .card:nth-child(1n) {
    grid-column: span 4;
  }
} 
@media (max-width: 450px) {
    .container{
        width:450px ;
    }
    .subject-cards{
        display: grid;
    grid-template-columns: repeat(2, 1fr);

    }
    .card .prev {
        position: absolute;
        /* right: 20%; */
        right: 20%;
        margin: 0 30px;
      }
      .card .down {
        position: absolute;
        right: 0%;
        margin: 0  1px 0 0;
      }
    
}
@media (max-width: 450px) {
.container{
    width:400px ;
}
.subject-cards{
    display: grid;
grid-template-columns: repeat(2, 1fr);

}
.card .prev {
    position: absolute;
    /* right: 20%; */
    right: 20%;
    margin: 0 30px;
  }
  .card .down {
    position: absolute;
    right: 0%;
    margin: 0  1px 0 0;
  }
}